.listContainer {
    .listItem {
        width: 225px;
        height: 120px;
        margin-left: 5px;
        overflow: hidden;
        cursor: pointer;
        background-color: var(--main-color);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        video{
            width: 100%;
            height: 140px;
            object-fit: cover;
          

        }
        &:hover {
            width: 325px;
            height: 300px;
            border-radius: 10px;
            box-shadow: rgba(165, 164, 164, 0.2) 0px 2px 8px 0px;
            position: absolute;
            top: -150px;

            img {
                height: 140px;

            }
        }

        .itemInfo{
            display: flex;
            flex-direction: column;
            padding: 10px;

            .icons{
                display: flex;
                margin-bottom: 10px;

                .icon{
                    border:2px solid white;
                    padding: 5px;
                    border-radius: 50%;
                    margin-right: 10px;
                    font-size: 1rem;
                }
            }
            .itemInfoTop{
                display: flex;
                width: 100%;
                justify-content: space-between;
                color: rgba(202, 202, 202, 0.856);

                .limit{
                    border:1px solid white;
                    width: 70px;
                    padding: 2px 0;
                    text-align: center;
                }
            }
                .desc{
                    color: white;
                    font-family: 'Times New Roman', Times, serif !important;
                }
                .genre{
                  font-weight: 600;
                }
            

        }


    }
}